[rating-star] {
	display: inline-block;
    border: 3px solid #13673C;
    color: #13673C;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #C7FFC7;
}

[rating-star] span{
	font-weight: bolder;
    font-size: larger;
}